
<div class='list row'>




  <div *ngIf="sharedmasterData" class='col-md-12'>
    <div>This dataset contains information about Daily Diesel Spot Price from 1996.</div>
    <br />
    <div>Data collected from US Energy Information Administration.</div>
    <br />
    <div>
      Notes:
      <div style="margin-left:30px">
        <ul class='list-group'>
          <li>Ultra-Low-Sulfur No. 2 Diesel Fuel</li>
          <li>No. 2 Diesel Fuel: A gasoil type distillate for use in high speed diesel engines generally operated under uniform speed and load conditions, with distillation temperatures between 540-640 degrees Fahrenheit at the 90-percent recovery point; and the kinematic viscosities between 1.9-4.1 centistokes at 100 degrees Fahrenheit as defined in ASTM specification D975-93. Includes Type R-R diesel fuel used for railroad locomotive engines, and Type T-T for diesel-engine trucks.</li>
          <li>
            For pricing data: <b>Ultra-Low Sulfur</b> or <b>On-Highway Diesel Fuel</b> is No. 2 diesel fuel which has a sulfur level less than or equal to 15 ppm (parts per million); <b>Low Sulfur Diesel Fuel</b> is No. 2 diesel fuel which has a sulfur level greater than 15 and less than or equal to 500 ppm; and <b>High Sulfur</b> refers to No. 2 distillate (either diesel or fuel oil) which has a sulfur level greater than 500 ppm.
          </li>
          <li>
            Includes:
          </li>
          <ol>
            <li>New York Harbor Ultra-Low Sulfur No 2 Diesel Spot Price (Dollars per Gallon)2. U.S. Gulf Coast Ultra-Low Sulfur No </li>
            <li>Diesel Spot Price (Dollars per Gallon)</li>
            <li>Los Angeles, CA Ultra-Low Sulfur CARB Diesel Spot Price (Dollars per Gallon)</li>
          </ol>
        </ul>
        <br />
        <br />



        <div class="d-flex"><div style='width:150px;'>Dataset Identifier</div><div class="code">usa-diesel-spot-price-1986-2016</div></div>
        <div class="d-flex"><div style='width:150px;'>Downloads</div><div style="">133</div></div>
        <div class="d-flex"><div style='width:150px;'>Last checked date</div><div>June 25, 2021</div></div>
        <div class="d-flex"><div style='width:150px;'>Predecessor</div><div>Thomson Reuters</div></div>
        <div class="d-flex"><div style='width:150px;'>Country</div><div>United States</div></div>
        <div class="d-flex"><div style='width:150px;'>ISO region</div><div>AMERICAS</div></div>
        <div class="d-flex"><div style='width:150px;'>Source copyrights</div><div><a href="http://www.eia.gov/about/copyrights_reuse.cfm">http://www.eia.gov/about/copyrights_reuse.cfm</a></div></div>
        <div class="d-flex"><div style='width:150px;'>Data classification</div><div>Public</div></div>
        <div class="d-flex"><div style='width:150px;'>Discontinued Data</div><div>No</div></div>
        <div class="d-flex">
          <div style='width:150px;'>
            Publisher Periodicity
          </div><div>Weekly</div>
        </div>
        <div class="d-flex"><div style='width:150px;'>Themes</div><div>Crude Oil & Refined Products, Economy, Trade</div></div>
        <div class="d-flex"><div style='width:150px;'>Keywords</div><div>Prices</div></div>
        <div class="d-flex"><div style='width:150px;'>License</div><div>Public Domain</div></div>
        <div class="d-flex"><div style='width:150px;'>Language</div><div>English</div></div>
        <div class="d-flex"><div style='width:150px;'>Modified</div><div>June 24, 2021 2:46 PM</div></div>
        <div class="d-flex"><div style='width:150px;'>Publisher</div><div>US Energy Information Administration</div></div>
        <div class="d-flex"><div style='width:150px;'>Reference</div><div><a href="http://www.eia.gov/dnav/pet/pet_pri_spt_s1_d.htm">http://www.eia.gov/dnav/pet/pet_pri_spt_s1_d.htm</a></div></div>
        <div class="d-flex"><div style='width:150px;'>Attributions</div><div>"Data 5: Ultra-Low-Sulfur No. 2 Diesel Fuel"</div></div>




      </div>
    </div>




    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>

